


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
	border-radius: 25px;
    border: 2px solid #73AD21;
	
}
input[type=text]:focus {
    background-color: lightblue;
}
.hey
{
	font-style:italic;
	font-weight:bold;
	float:left;
}
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
	border-radius: 25px;
    border: 2px solid #73AD21;
	
}
input[type=email]:focus {
    background-color: lightblue;
	border-radius: 25px;
    border: 2px solid #73AD21;
}